@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --md-sys-color-primary: #8D4F00;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-outline: #8D4F00;
}

.dark {
  --md-sys-color-primary: #FFB870;
  --md-sys-color-on-primary: #201A16;
  --md-sys-color-outline: #FFB870;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

md-filled-button, md-outlined-button, md-text-button {
  font-family: inherit;
  --md-filled-button-container-shape: 999px;
  --md-outlined-button-container-shape: 999px;
}